
h1 {font: italic 75%/125% "Comic Sans MS", cursive;}
h1 {font-size: 44px;}
h1{
	text-align: center;
	background-color: #87CEFA;
	color: white;
}
h2 {
   color: white;
   font-size: 24px;
}
.bixo loko img {
	image-position: right top;
}

