  
body {
background-image: url("https://pa1.narvii.com/6733/3ceb3aca2691b17ded64e71d35cce23ba4bfa682_hq.gif");
}
h1 {font: italic 75%/125% "Comic Sans MS", cursive;}
h1 {font-size: 24px;}
h1{
	text-align: center;
}
h1 {
    color: linear-gradient(to bottom, #980021 130%);;
}
p {
   color: white;
}
.gallery autoplay items-3 { 
	background-color: white;
}
.bixo loko img {
	image-position: right top;
}
