  
body {
background-image: url("https://media1.tenor.com/images/c5b2cdbe3815555653dacafacb035dfe/tenor.gif"
}
h1 {font: italic 75%/125% "Comic Sans MS", cursive;}
h1 {font-size: 44px;}
h1{
	text-align: center;
	background-color: aquamarine;
	color: white;
}
h2 {
   color: white;
   font-size: 24px;
}
.bixo loko img {
	image-position: right top;
}

